<div id="<%= dom_id essay %>">
  <p>
    <strong>Name:</strong>
    <%= essay.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= essay.description %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= essay.date %>
  </p>

</div>
