<div class="card mb-3">
  <img src="https://res.cloudinary.com/dzldnozaa/image/upload/v1678205426/sample.jpg" class="card-img-top" alt="flores">
  <div class="card-body">
    <h5 class="card-title"><%= essay.name %></h5>
    <p class="card-text"><%= essay.description %></p>
  </div>
</div>

