<p style="color: green"><%= notice %></p>

<h1>Essays</h1>

<div id="essays">
  <% @essays.each do |essay| %>
    <%= render essay %>
    <p>
      <%= link_to "Show", essay %>
    </p>
  <% end %>
</div>
